# Pocket TTS Server URL
# Run with: pocket-tts serve
NEXT_PUBLIC_TTS_SERVER_URL=http://localhost:8000

# Default voice (see available voices in README)
# Available: alba, giovanni, lola, juergen, rafael, estelle, anna, azelma, ...
# See: https://huggingface.co/kyutai/tts-voices
NEXT_PUBLIC_DEFAULT_VOICE=rafael

# Available languages: english, portuguese, french, german, italian, spanish
# With 24l variants for higher quality: english_24l, portuguese_24l, etc.
NEXT_PUBLIC_DEFAULT_LANGUAGE=portuguese
